{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "newline-before-return": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "quotes": ["error", "single"],
    "no-multiple-empty-lines": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "array-bracket-spacing": [2, "never"],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "eol-last": 2,
    "no-multi-spaces": 1,
    "no-spaced-func": 2,
    "no-trailing-spaces": 1,
    "no-use-before-define": "off",
    "arrow-spacing": 0,
    "max-len": ["error", { "code": 200 }],
    "prefer-rest-params": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}
